@using AnPan.Base;
@model AnPan.Web.Models.ModelSysRight

@{
    Layout = null;
}

@foreach (var item in SessionManager.GridSource)
{
    string url = "/Images/icon-app/" + item.ImageUrl;
    <dl class="system_log">
        <dt onclick="changeImage()" style="background-image: url('@url');">@item.Name<img src="/images/left/select_xl01.png"></dt>
        @foreach (var child in item.ChildList)
        {
            <dd><a href="@child.NavUrl">@child.Name</a></dd>
        }
    </dl>
}